body{
    margin: 0;
}
div{

    margin: auto;
    margin-top: 20vh;
    height:     20vh;
}

@media screen and (min-width: 1024px) {
    .square{
        width: 33%;
        background-color:  blue;
        border: 5px solid green;
        border-radius: 50%;
    }
}
@media screen and (max-width: 1023px) {
    .square{
        width: 33%;
        background-color:    red;
        border: 5px solid yellow;
        border-radius: 15px;
    }
}
@media screen and (max-width: 599px) {
    .square{
        width: 33%;
        background-color:orange;
        border: 5px solid black;
        border-radius: none;
    }
}